<div class="home">
  <div class="row">
    <div class="small-12 text-center">
      <h4>VueJS + TypeScript Todo Application</h4>
    </div>
  </div>
  <div class="row align-center">
    <div class="small-12 medium-7 columns">
      <table class="table table-striped table-dark">
        <thead>
          <tr>
            <th scope="col" class="display-6">To-do List</th>
            <th scope="col">Done</th>
            <th scope="col">Remove</th>
          </tr>
        </thead>
        <transition-group name="fade" mode="out-in" tag="tbody">
          <tr v-for="task in filteredTasks" :key="task.name">
            <td
              width="75%"
              v-text="task.name"
              class="line"
              :class='{"text-line-through": task.completed}'
            ></td>
            <td width="10%" class="text-right">
              <i aria-hidden="true" @click="setTaskComplete(task)"></i>
              <input type="checkbox" v-model="task.completed" />
            </td>
            <td width="10%" class="text-right">
              <i
                class="fa fa-times"
                aria-hidden="true"
                @click.prevent="deleteTask(task)"
              ></i>
            </td>
          </tr>
        </transition-group>
      </table>
      <button
        class="btn btn-warning btn-lg"
        @click="hideCompleted = !hideCompleted"
      >
        {{ hideCompleted ? 'Show all' : 'Hide completed' }}
      </button>
    </div>
  </div>
</div>
<div class="row align-center">
  <div class="small-12 medium-7 large-7 columns">
    <div class="completedTasks">
      <h4>Completed tasks</h4>
      <ul v-for="task in completedTasks" :key="task.name">
        <li v-text="task.name"></li>
      </ul>
    </div>
  </div>
</div>
